.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}


.bg-gradient-primary {
  background: linear-gradient(to bottom, #1E1A85, #3498db);
}